* {

    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}



section {
    background-color: white;
    display : flex;
    flex-direction: column;
    align-items: center;
    padding: 10% 10%;
    border-radius: 20px;
    
}

button:hover{
    background-color: palevioletred;
    color:white;
}

.startBTN {
    padding: 5px 10px;
    border: 1px solid palevioletred;
    border-radius: 10px;
    background-color: #fff;
    font-size: 12px;
    font-weight: 700;
    
}





/* QnA */

#qna{
    margin: 50px auto;
    height: 500px;
    background-image: url(./img/back.png);
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: center;
    
}


.progress{
    margin: 0;
    margin-bottom: 80px;
    width: 90%;
    height: 10px;
    border: 1px solid palevioletred;
    border-radius: 0;
    background-color: inherit;
    
}

.progressBar{
    background-color: palevioletred;
    display: block;

}


.answer {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}


.answerList {
    margin-bottom: 20px;
    padding: 5px 20px;
    border: 1px solid palevioletred;
    border-radius: 10px;
    background-color: #fff;
    font-size: 12px;
    font-weight: 700;
    
}

@keyframes fadeIn {
    from { opacity: 0%; }
    to { opacity: 100%}
}

@keyframes fadeOut {
    from { opacity: 100%; }
    to { opacity: 0%}
}



/* Q&A  */

#qna {
    display: none;
}



/* result */

#result {
    display: none;
}